<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control center for the Ocevu Fast Telescope">
    <meta name="author" content="CNRS-IRAP">
    
    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    
    
    <title>Ocevu Fast Telescope Control Center</title>
    
    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.css" %} rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href={% static "bootstrap/css/sb-admin.css" %} rel="stylesheet">
    <link rel="stylesheet" href={% static "bootstrap/font-awesome/css/font-awesome.min.css" %}>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    
    <!-- JsTree -->
    <link rel="stylesheet" href={% static "bootstrap/dist/themes/default/style.min.css" %} />
    
</head>

<body>

<div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/dashboard/">Ocevu Fast Telescope Control Center</a>
        </div>
        
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        
          <ul class="nav navbar-nav side-nav">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/alertmanager/">Alert Manager</a></li>
            <li><a href="/routinemanager/">Routine Manager</a></li>
            <li><a href="/planner/">Planner</a></li> 
            <li><a href="#">Weather Manager</a></li>    
            <li><a href="#">System Information Manager</a></li>       
            <li><a href="#">Scientific Data Management</a></li>
            <li><a href="#">Observation System</a></li>
            <li><a href="#">Global Status</a></li>
            <li><a href="/console/">Console</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            
            <li class="dropdown alerts-dropdown">
              <a href="/dashboard/profile"><i class="fa fa-user"></i> {{ user.firstname }} <b class="caret"></b></a>              
            </li>
            <li class="dropdown user-dropdown">
              <a href="/dashboard/logout"><i class="fa fa-power-off"></i> Log Out</a>             
            </li>
          </ul>
        
        </div><!-- /.navbar-collapse -->
        
        
      </nav>

      <div id="page-wrapper">
      
      
      	<div class="row">      	
			<center><h2>{% block title %}  {% endblock %}</h2></center>
		</div>

	 <center>
		<div class="row">	
		  {% if error %} 
			   <div class="alert alert-dismissable alert-danger">
		  {% endif %}
		  {% if success %}
		  	   <div class="alert alert-dismissable alert-success">
		  {% endif %}			  
				  {{ state|safe }}
		 </div>
	</center>	
		{% block content %}
		   
		   
		{% endblock %}
        

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

	    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    
    <!-- JavaScript -->
    <script src={% static "bootstrap/js/jquery-1.10.2.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.js" %}></script>
	<script src={% static "bootstrap/js/jquery.formset.js" %}></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src={% static "bootstrap/js/morris/chart-data-morris.js" %}></script>
    <script src={% static "bootstrap/js/tablesorter/jquery.tablesorter.js" %}></script>
    <script src={% static "bootstrap/js/tablesorter/tables.js" %}></script>
    
    <!-- JsTree -->
    <script src={% static "bootstrap/dist/jstree.min.js" %}></script>
    <script>
	  $(function () {
	    // 6 create an instance when the DOM is ready
	    $('#jstree').jstree();
	    // 7 bind to events triggered on the tree
	    $('#jstree').on("changed.jstree", function (e, data) {
	      console.log(data.selected);
	    });	    
	    $("#plugins7").jstree({
	        "types" : {
	          "default" : {
	            "icon" : "glyphicon glyphicon-flash"
	          },
	          "demo" : {
	            "icon" : "glyphicon glyphicon-ok"
	          }
	        },
	        "plugins" : [ "types" ]
	      });
	    $("#jstree").jstree("open_all");
	    
	  });
	  </script>
	  <style type="text/css">
		 .jstree li > a > .jstree-icon {  display:none !important; } 
		 .jstree {font-size: 16px; }
		 

		</style>

	
  
    
</body>
</html>