 {% extends "base_templates/base.html" %} 
 
 {% block title %}Testing Class based views {% endblock %} 
 
 
 {% block content %}




<div class="row">
	<a href="alert/list">
	<div class="col-lg-5">
		<h3>Alert List</h3>	
	</div>
	</a>
</div>

<div class="row">
	<a href="alert/add">
	<div class="col-lg-5">
		<h3>Alert Add</h3>	
	</div>
	</a>
</div>

<div class="row">
	<a href="alert/update">
	<div class="col-lg-5">
		<h3>Alert Update</h3>	
	</div>
	</a>
</div>

<div class="row">
	<a href="alert/delete">
	<div class="col-lg-5">
		<h3>Alert Delete</h3>	
	</div>
	</a>
</div>


					
					
					
{% endblock %}
