 {% extends "base_templates/base.html" %} 
 
 {% block title %}
 	Create a New Routine Observation
 {% endblock %}     


 {% block content %}

	{% load i18n %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
              
        $( "button" ).addClass( "btn btn-success" );
        $( ".next" ).addClass( "btn btn-success" );
 
        
    });
</script>

<div class="row">
	<div class="col-lg-5">
		<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
		
		{% if wizard.steps.step1 %}
			<h3>Owner Information</h3>
			<hr>
		{% else %}
			{% if wizard.steps.step2 %}
				<h3>Sequences</h3>
				<hr>
			{% else %}
				{% if wizard.steps.step3 %}
					<h3>Albums</h3>
					<hr>
				{% else %}
					{% if wizard.steps.step4 %}
						<h3>Plans</h3>
						<hr>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
		       
		<form action="" method="post">{% csrf_token %}
		
		
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
			    {{ wizard.form.management_form }}
			    {% for form in wizard.form.forms %}
			        {{ form }}
			    {% endfor %}
			{% else %}
			    {{ wizard.form }}
			{% endif %}
		
		
			{% if wizard.steps.prev %}
			<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Home" %}</button>
			<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
			{% endif %}
	</div>	

	<div class="col-lg-5">	
	{% if wizard.steps.step4 %}}
		<h3>Done ! Don't forget to validate</h3>
		<hr>
	{% else %}	
		{% if wizard.steps.step1 %}
			<h3>List of Sequences</h3>			
		{% else %}
			{% if wizard.steps.step2 %}
				<h3>List of Albums</h3>			
			{% else %}
				{% if wizard.steps.step3 %}
					<h3>List of Plans</h3>			
				{% endif %}
			{% endif %}
		{% endif %}
		<hr>
		
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th> &nbsp</th>
						<th>Status<i class="fa fa-sort"></i></th>
						<th>Creation date<i class="fa fa-sort"></i></th>
						
					</tr>
				</thead>
				<tbody>
					{% for row in object_list %}
					<tr>					
						<td>					
							<center>
							<input type="submit" class="btn btn-primary" value="Edit" />
							</center>																
						</td>
						<td>{{ row.status }}</td>
			     		<td>{{ row.creation_date }}</td> 				
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
		    
		</div>
		
				
			    
	{% endif %}
		    
		<input class="next" type="submit" value="{% trans "Next" %}"/>
		</form>

	</div>
</div>
 

					
					
 {% endblock %}
