 {% extends "base_templates/base.html" %} 
 
 {% block title %}Alert Manager{% endblock %} 
 
 
 {% block content %}

{% if success_delete %}
<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  The VOEvent has been successfully deleted
</div>
{% endif %}


{% if success %}
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Success !
</div>
{% endif %}





<div class="row">
	<a href="add">
	<div class="col-lg-5">
		<h3>Add new VOEvent </h3>	
	</div>
	</a>
</div>


<div class="row">
	<a href="list">
	<div class="col-lg-5">
		<h3>List of VOEvents in the database </h3>	
	</div>
	</a>
</div>

<div class="row">
	<a href="loadfromfile">
	<div class="col-lg-5">
		<h3>Load VOEvent from file </h3>
	</div>
	</a>
</div>


					
					
					
{% endblock %}
