 {% extends "base_templates/base.html" %} 
 
  {% block title %}	VOEvent Details {% endblock %}
 
 {% block content %}
	   
	
    <div class="row">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">IVORN</h3>
              </div>
              <div class="panel-body">
                {{a.ivorn}}
              </div>
            </div>
    </div>
    <div class="row">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Role</h3>
              </div>
              <div class="panel-body">
                {{a.role}}
              </div>
            </div>
    </div>
    <div class="row">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Author</h3>
              </div>
              <div class="panel-body">
                {{a.author}}
              </div>
            </div>
    </div>
    <div class="row">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Date</h3>
              </div>
              <div class="panel-body">
                {{a.date}}
              </div>
            </div>
    </div>
    
    <div class="row">    	
          <div class="col-lg-1">
          	<form action="delete" method="post"
				enctype="multipart/form-data">
				{% csrf_token %} 							
				<input type="hidden" value="{{ a.id }}" name="id"/>
				<input type="submit" class="btn btn-primary" value="Delete" />
			</form>		
          </div>
          
          <div class="col-lg-1">
          	<form action="edit" method="post"
				enctype="multipart/form-data">
				{% csrf_token %} 							
				<input type="hidden" value="{{ a.id }}" name="id"/>
				<input type="submit" class="btn btn-primary" value="Edit" />
			</form>		
          </div>
    </div>
    
          
	      	
	{% endblock %}