 {% extends "base_templates/base.html" %} 
 
  {% block title %}	List of Routine Requests in the Database {% endblock %}
 
 {% block content %}
	   
<div class="row">

	<div class="col-lg-12">
		
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th> &nbsp</th>
						<th>Name <i class="fa fa-sort"></i></th>
						<th>Laboratory <i class="fa fa-sort"></i></th>
						<th>Alert <i class="fa fa-sort"></i></th>
						<th>Creation Date <i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for row in page_obj %}
					<tr>					
						<td>
					<form action="view/{{row.id}}/" method="get"
						enctype="multipart/form-data">
							{% csrf_token %} 							
							<input type="hidden" value="{{ row.id }}" name="id"/>
							<center>
							<input type="submit" class="btn btn-primary" value="View Details" />
							</center>
							</form>											
						</td>
			     		<td>{{ row.name }}</td> 
			     		<td>{{ row.laboratory }}</td> 
			     		<td>{{ row.request_is_ALERT }}</td> 
			     		<td>{{ row.creation_date }}</td> 
					
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
		        <span class="step-links">
		            {% if page_obj.has_previous %}
		                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		            {% endif %}
		
		            <span class="current">
		                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
		            </span>
		
		            {% if page_obj.has_next %}
		                <a href="?page={{ page_obj.next_page_number }}">next</a>
		            {% endif %}
		        </span>
		    </div>
		    
		</div>
	</div>
</div>	
    
          
	      	
	{% endblock %}