 {% extends "base_templates/base.html" %} 
 
 {% block title %}Routine Manager{% endblock %}
 
 
 {% block content %}


{% if success %}
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Success !
</div>
{% endif %}

	


<div class="row">
	
	<div class="col-lg-5">
		<h3>General Information</h3>	
	</div>
	

</div>

<div class="row">

	
	

	<div class="col-lg-6">
		<form action="/routinemanagerprocedural/request_save" method="post"
						enctype="multipart/form-data">
			{% csrf_token %} <br>
	    	{% for field in form %}		    
				{{ field.label_tag }}		           
	              {{ field }}  
	              {{ field.errors }}		      
	    	{% endfor %}
	    	<br>
			<button type="submit" class="btn btn-success" name="action" value="request_save_and_back">Save and go back</button>		
			<button type="submit" class="btn btn-success" name="action" value="request_save_and_add">Save and add sequence</button>		
			<button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>		
			<button type="submit" class="btn btn-danger" name="action" value="validate">Validate</button>	
		</form>
		
		
	</div>
           
    <div class="col-lg-6">
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th> &nbsp</th>
						<th>Target Type <i class="fa fa-sort"></i></th>
						<th>Creation Date <i class="fa fa-sort"></i></th>
						<th>Status <i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for row in object_list %}
					<tr>					
						<td>
					<form action="/routinemanagerprocedural/edit_sequence/{{row.id}}/" method="get"
						enctype="multipart/form-data">
							{% csrf_token %} 							
							
							<center>
							<button type="submit" class="btn btn-primary" name="action" value="edit">Edit</button>	
							<button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>	
							</center>
																		
						</td>
			     		<td>{{ row.event_type }}</td> 			     		 
			     		<td>{{ row.creation_date }}</td> 
			     		<td>{{ row.status }}</td>
					
					</tr>
					{% endfor %}
				</tbody>
			</table>	    
		</div>	 
     </div>
           
                  
                       
</div>



 	 
{% endblock %}	