
 {% extends "base_templates/base_request.html" %} 
 
 
{% block up %}	   
<div class="alert alert-dismissable alert-success text-center">  
				<button class="btn btn-primary btn-lg disabled" id="btn1">Request Info</button>
			  	<button class="btn btn-primary btn-lg" id="btn2">Sequences Info</button>
			    <button class="btn btn-primary btn-lg disabled" id="btn3">Albums Info</button>
			    <button class="btn btn-primary btn-lg disabled" id="btn4">Plans Info</button>
</div>
	
<div class="row">
	
	<div class="col-lg-12">
		<h3>SEQUENCE</h3>	
	</div>
	
</div>

{% endblock %}

{% block left %}
		<form action="/routinemanagerprocedural/sequence_save" method="post"
						enctype="multipart/form-data">
			{% csrf_token %} <br>
	    	{% for field in form %}		    
				{{ field.label_tag }}		           
	              {{ field }}  
	              {{ field.errors }}		      
	    	{% endfor %}
	    				
	    	<input type="hidden" name="request_id" value="{{request_object.id}}"/>
	    	<p>Request object id:  {{request_object.id}}</p>
	    	<br>
			<button type="submit" class="btn btn-success" name="action" value="sequence_save_and_back">SAVE</button>		
			<button type="submit" class="btn btn-success" name="action" value="sequence_save_and_add">Add new album</button>		
			<button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>		
			<button type="submit" class="btn btn-danger" name="action" value="validate">Validate</button>	
		</form>
		
		<br>
		
		<h3>Get JD Values:</h3>
		<form action="/routinemanagerprocedural/getjd1jd2" method="post"
						enctype="multipart/form-data">
						{% csrf_token %} <br>
		<input type="text" name="jd1jd2field"/>
		<button type="submit" class="btn btn-primary" name="getjd2" value="cancel">Get JD 1 and JD2</button>			
		</form>
		
{% endblock %}


{% block right %}		
		

    	<h3>List of Albums</h3>	
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th> &nbsp</th>
						<th>Target Type <i class="fa fa-sort"></i></th>
						<th>Creation Date <i class="fa fa-sort"></i></th>
						<th>Status <i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for row in object_list %}
					<tr>					
						<td>
					<form action="/routinemanagerprocedural/edit_album/{{row.id}}/" method="get"
						enctype="multipart/form-data">
							{% csrf_token %} 							
							
							<center>
							<button type="submit" class="btn btn-primary" name="action" value="edit">Edit</button>	
							<button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>	
							</center>
																		
						</td>
			     		<td>{{ row.type }}</td> 			     		 
			     		<td>{{ row.creation_date }}</td> 
			     		<td>{{ row.status }}</td>
					
					</tr>
					{% endfor %}
				</tbody>
			</table>	    
		</div>	  	 
{% endblock %}	