
 {% extends "base_templates/base_request.html" %} 
 
 
{% block heading %}	   
<div class="row text-center">

				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	                <li class="active">
	                <form action="/routinemanagerprocedural/edit_request/{{request_object.id}}/" method="get"
						enctype="multipart/form-data">
						{% csrf_token %}
					    <a href="javascript:;" onclick="parentNode.submit();">Request Info</a>
					    <input type="hidden" name="action" value="edit" />
					</form>
					</li>
	                <li class="active"><a data-toggle="tab">Sequence Info</a></li>	                
	                <li class="disabled"><a>Album Info</a></li>
	                <li class="disabled"><a>Plan Info</a></li>                
	              </ul>

</div> 
	
<div class="row">
	
	<div class="col-lg-12">
		<h3>SEQUENCE &nbsp	
		<a href="/routinemanagerprocedural/help_sequence" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=SomeSize,height=SomeSize');return false;">
		Help <i class="fa fa-arrow-circle-right"></i></a></h3>	
	</div>
	
</div>

{% endblock %}

{% block details %}
		<form action="/routinemanagerprocedural/sequence_save" method="post"
						enctype="multipart/form-data">
			{% csrf_token %} <br>
			
	    	<table class="table table-hover table-striped tablesorter">
	    	{% for field in form %}		    
				<tr><td>{{ field.label_tag }}{% if field.field.required %}&nbsp*{% endif %}</td>		           
	             	<td>{{ field }}
	              		{{ field.errors }}	
	              	</td></tr>		      
	    	{% endfor %}
	    	</table>
	    				
	    	<input type="hidden" name="request_id" value="{{request_object.id}}"/>
	    	
	    	<br>
	    	<table>
	    	<tr>
	    	<td><button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button></td>
			<td>&nbsp</td>
			<td><button type="submit" class="btn btn-success" name="action" value="sequence_save_and_back">SAVE</button></td>		
			<td>&nbsp</td>
			<td><button type="submit" class="btn btn-success" name="action" value="sequence_save_and_add">Add new album</button></td>				
			<td>&nbsp</td>
			<td>
			{% if object_list %}
			<button type="submit" class="btn btn-danger" name="action" value="validate">Validate</button>
			{% else %}
			<button type="submit" class="btn btn-danger disabled" name="action" value="validate">Validate</button>
			{% endif %}
			</td>	
			<td style="width:90%;">&nbsp</td>			
			<td>
			{% if object_list %}
			<button type="submit" class="btn btn-warning" name="action" value="simulate">Simulate</button>
			{% else %}
			<button type="submit" class="btn btn-warning disabled" name="action" value="simulate">Simulate</button>
			{% endif %}
			</td>
	    	</tr>
	    	</table>	
		</form>
		
		<br>
		
		<h3>Get JD Values:</h3>
		<form action="/routinemanagerprocedural/getjd1jd2" method="post"
						enctype="multipart/form-data">
						{% csrf_token %} <br>		
		<button type="submit" class="btn btn-primary" name="getjd2" value="cancel">Get JD 1 and JD2</button>			
		</form>
		
{% endblock %}


{% block children_list %}		
		

    	<h3>List of Albums - <span class="label label-primary">{{object_list|length}}</span></h3>	
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th> &nbsp</th>
						<th>Album Type <i class="fa fa-sort"></i></th>
						<th>Creation Date <i class="fa fa-sort"></i></th>
						<th>Status <i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for row in object_list %}
					<tr>					
						<td>
					<form action="/routinemanagerprocedural/edit_album/{{row.id}}/" method="get"
						enctype="multipart/form-data">
							{% csrf_token %} 							
							
							<center>
							<button type="submit" class="btn btn-primary" name="action" value="edit">Edit</button>	
							<button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>	
							</center>
					</form>																		
						</td>
			     		<td>{{ row.type }}</td> 			     		 
			     		<td>{{ row.creation_date }}</td> 
			     		<td>{{ row.status }}</td>
					
					</tr>
					{% endfor %}
				</tbody>
			</table>	    
		</div>	  	 
{% endblock %}	