 {% extends "base_templates/base.html" %} 
 
 {% block title %}View your VOEvent details from a file{% endblock %} 
 
 {% block content %}


{% if error %}
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  There was an error with the xml file, please try again
</div>
{% endif %}



<div class="row">
	<div class="col-lg-12">
		
		<table>
			<tr>
				<td>
					<form action="upload_file" method="post"
						enctype="multipart/form-data">
						{% csrf_token %} <br>
						<p>{{ form.non_field_errors }}</p>
						<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
						<p>{{ form.docfile.errors }} {{ form.docfile }}</p>
				</td>
				<td><br> <br> <input type="submit" class="btn btn-primary" value="View" />
					</form></td>
			</tr>
		</table>
	</div>
</div>


				
					
					
{% endblock %}
