
    {% extends "base_templates/base_login.html" %} 
    
    {% block content %}
		   
		   
	

			  
			  
              
		<div class="form-group">
			<form action="/dashboard/login" method="post" enctype="multipart/form-data">
			{% csrf_token %}
				{% if next %}
				<input class="form-control" type="hidden" name="next" value="{{ next }}" />
				{% endif %}
				
				<div class="col-lg-3 text-left" >
				<p></p>
				</div>
				<div class="col-lg-6 text-left" >
					<div class="row">	
						<h3>Log in</h3>
						<hr>
					</div>
					<div class="row">
						<label>Email</label>
						<input class="form-control" type="text" name="email" value="{{ email }}" /><br />
					</div>
					<div class="row">	
						<label>Password</label>
						<input class="form-control" type="password" name="password" value="" /><br />
					</div>
					<div class="row">
						<input class="btn btn-primary" type="submit" value="Log In" />
						<a href="/dashboard/new_user" class="btn btn-primary">Create a new user</a>
					</div>
				</div>
				<div class="row">
				<p>&nbsp</p>
					</div>
					<div class="row">
				<p>&nbsp</p>
					</div>
					<div class="row">
				<p>&nbsp</p>
					</div>
			</form>	
				
			
    		
		</div>
              
		 
	    
	
		{% endblock %}